body {
    color: #252222;
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(68 68 68) */
    font-family: 'roboto', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  ul {
    list-style: none;
    margin: 0;
  padding: 0;
  }
  a {
    text-decoration: none;
  }

  /* .ww{
    font-family: "Montserrat", sans-serif;
  } */

  
 

  .hero-section{
    max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 750px;
  
background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/1590125748_05-laptop-for-coding.jpg);
background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: cover;
  }

  .hero-section__container{
    position: relative;
    
  }

  .hero-section__h1{
    text-align: center;
    font-size: 48px;
    color: #af4e0a;
  }

  .hero-section__p{
    text-align: center;
    
  }

  .hero-section__divforimg{
    padding: 20px;
    background-color: #252222;
    border: 2px solid #f36421;
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 85px;
    transform: perspective(400px) rotateY(10deg);
  }

  .temporarilyNAV{
    display: flex;
    
  }

.TNavFont{
    font-size: 24px;
    font-weight: 700;
    margin-right: 200px;
}

.navUl{
    display: flex;
    
}
.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin-right: 0;
}

  .pedestal{
    position: absolute;
    left: 150px;
    top: 142px;
    width: 200px;
    height: 450px;
    /* margin: 30px 30px 0 30px; */

    background-color: rgb(37, 30, 18);
    transform: skew(156deg);
    transform-origin: 50% 50% 100px;
  }

  .about {
    background-color: #ffd87fb8;
    width: 1200px;
    padding: 20px 0;
    margin-right: auto;
    margin-left: auto;
    
  }

  .about-title, .portfolio-title, .contacts-title {
    text-align: center;
    font-size: 36px;
    font-family: 'montserrat', monospace;
    color:forestgreen;
    margin-bottom: 20px;
  }

  .main-about{
    text-align: center;
    margin-bottom: 40px;
  }

  .ma-text {
    margin-bottom: 15px;
  }

  .non-require-part{
    text-align: center;
  }

  .portfolio{
    background-color: #a6d3b6;
    padding: 20px 0;
    
  }

  .prog-box{
    margin-bottom: 30px;
  }
  .progects-title{
font-size: 24px;
text-align: center;
margin-bottom: 10px;
  }

  .teamProj-list{
  display: flex;

  justify-content: space-between;
  padding: 0 20px;
  }

  .teamProj-item {
    max-width: 400px;
    background-color:#c7b7a5;
  }

  .teamProj-item:hover,
.teamProj-item:focus {
 
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

  .imgCont{
    display: flex;
    justify-content: center;
  }
  .linkTeamProjCont{
    display: flex;
    justify-content: space-evenly
  }

  .descriptionTeamItem {
padding: 10px 20px;
  }

  .teamProjLink {
    color: #0b7c14;
    padding-bottom: 5px;
  }

  .teamProjLink:hover,
  .teamProjLink:focus{
cursor: pointer;
  }
   .teamProjItemTitle{
    text-align: center;
    color: blue;
    font-size: 20px;
    
    padding: 10px 0 20px 0;
   }

.footer{
  background-color: #bdb76b99;
  padding: 20px 0;
}
.contacts-list{
  display: flex;
  justify-content: space-around;
}
   .icon-telegram{
    fill: rgb(4, 163, 255);
   }

   .icon-linkidin{
    fill: blue;
   }

   .contactBox{
    display: flex;
    align-items: center;
    gap: 10px;
   }